{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

    {% if page.main_image %}
      {% image page.main_image width-400 %}
    {% endif %}

    <div class="intro">{{ page.intro }}</div>

    {{ page.body|richtext }}

    <p>Related links</p>
        {% if page.related_links.all %}
        <ul>
            {% for item in page.related_links.all %}
                <li><a href="{{ item.link }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}